@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;
    z-index: 2;

    display: block;

    width: 20px;
    height: 28px;
    background-color: #fff;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    background-image: url("images/arrow-left.png");
    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;   
    border: none;
    outline: none;
    -webkit-transition: ease .5s;
    transition: ease .5s;
    opacity: .8;
    
}

.slick-next {
    background-image: url("images/arrow-right.png");
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    opacity: 1;
}

.slick-prev
{
    left: 0;
}

[dir='rtl'] .slick-prev
{
    right: 0;
    left: auto;
}


/*.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
} */

.slick-next
{
    right: 0;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: 0;
}

/*.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}*/

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 10px;
    height: 10px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background-color: #cb944c;
    opacity: .5;
    -webkit-border-radius: 100%;
            border-radius: 100%;

    -webkit-transition: ease .5s;

    transition: ease .5s;
}

.slick-dots li.slick-active button {
    opacity: 1;
}

.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}


@media (min-width: 768px){

    .slick-prev,
    .slick-next {
        height: 90px;
    }    


}

@media (min-width: 1400px){

    .slick-prev,
    .slick-next {
        height: 108px;
    }    


}