/* ==========================================================================
   C O M M O N    STYLES
   ========================================================================== */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

h1 {
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    font-size: 16px;
}

.upper {
	text-transform: uppercase;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

/* ==========================================================================
   SCSS
   ========================================================================== */

$main-font: #262626;
$sub-font: #363636;

/* M I X I N S
   ========================================== */

@mixin flexbox() {
	 display: -webkit-box;
  	    display: -moz-box;
  	 display: -ms-flexbox;
  	display: -webkit-flex;
  	        display: flex;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
}

@mixin transition($val) {
	-webkit-transition: $val;
       -moz-transition: $val;
        -ms-transition: $val;
         -o-transition: $val;
            transition: $val;
}

@mixin shadow-box($val) {
	-webkit-box-shadow: $val;
	   -moz-box-shadow: $val;
            box-shadow: $val;
}

/* ==========================================================================
   H E A D E R
   ========================================================================== */

.header {

	padding: 20px 0;

	&-block__logo {
		@include flexbox();
		justify-content: space-between;
		align-items: center;

		&-link {
			color: $main-font;
			font-size: 16px;
			line-height: 16px;

			.sub-logo {
				color: $sub-font;
				font-size: 12px;
				line-height: 12px; 
			}
		}

		.menu-icon {
			@include transition(ease .5s);
			color: $main-font;

			&:hover {
				color: lighten(#262626, 20%);
				cursor: pointer;
			}
		}
	}
}	

.nav {

	display: none;
	
	&-list__item {
		padding: 10px 0;

		&-link {
			@include transition(ease .5s);
			color: $main-font;

			&:hover {
				color: lighten(#262626, 20%);
				padding-bottom: 2px;
				border-bottom: 1px solid lighten(#262626, 20%);
			}
		}
	}
}

@media (min-width: 768px) {
	.header {

		.menu-icon {
			display: none;
		}

		&-block {
			@include flexbox();
			justify-content: space-between;
			align-items: center;

			&__logo-link {
				font-size: 26px;

				.sub-logo {
					font-size: 18px;
				}
			}
		}

		.nav {
			@include flexbox();

			&-list {
				text-align: right;

				&__item {
					display: inline-block;
					padding-left: 20px;
				}
			}
		}
	}
}

/* ==========================================================================
   S L I D E R
   ========================================================================== */

.slider {
	
	&-item {

		position: relative;

		&__img {
			width: 100%;
			height: auto;
		}

		&__info {
			position: absolute;
			top: 50%;
			left: 10%;
			transform: translate(0, -50%);
			padding: 10px;
			background-color: rgba(0,0,0,.5); 

			&-title {
				font-size: 16px;
				color: #fff;
			}

			&-txt {
				font-size: 12px;
				color: darken(#fff, 20%);
			}

			&-link {
				@include transition(ease .5s);
				font-size: 14px;
				color: darken(#fff, 10%);

				&:hover {
					color: #fff;
					padding-bottom: 1px;
					border-bottom: 1px solid #fff;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.slider {
		&-item {
			&__info {
				padding: 30px;

				&-title {
					font-size: 30px;
				}

				&-txt {
					font-size: 18px;
				}

				&-link {
					font-size: 20px;
				}

			}
		}
	}
} 

@media (min-width: 1200px) {
	.slider {
		&-item {
			&__info {
				padding: 30px;

				&-title {
					font-size: 40px;
				}

				&-txt {
					font-size: 18px;
				}

				&-link {
					font-size: 20px;
				}

			}
		}
	}
}  

/* ==========================================================================
   S E C U R I T Y
   ========================================================================== */

.security {
	padding: 30px 0;

	&-block__item {
		padding: 20px 0;

		&-img {
			max-width: 100px;
		}

		&-title {
			padding: 10px 0;
			color: $main-font; 
		}

		&-txt {
			color: $sub-font;
		}
	}
}

@media (min-width: 768px) {
	.security-block__item {
		width: 50%;
		float: left;
		padding: 20px;
		text-align: left;

		&-img {
			max-width: 40px;
		}
	}	
}

@media (min-width: 992px) {
	.security-block__item {
		width: 33.33333%;
	}
}

/* ==========================================================================
   C L I E N T S
   ========================================================================== */

.clients {

	background-color: rgba(0,0,0,.05);
	padding: 30px 0 0;

	&-block__title {
		color: $main-font;
		border-bottom: 1px solid $main-font;
		padding-bottom: 30px; 
	}

	&-stack {
		&__item {
			@include flexbox();
			justify-content: center;
			align-items: center;

			&-img {
				max-width: 200px;
			}
		}
	}
}  

/* ==========================================================================
   A B O U T  .HTML
   ========================================================================== */

.about {
	padding: 20px 0;

	&-title {
		padding: 10px 0;
	}

	&-block {

		&__item{
			background-color: #fff;

			&-img {
				width: 100%;
				height: auto;
				filter: grayscale(.6); 
			}

			&-info {
				padding: 20px 0;
			}
		}
	}

	&-add {
		position: relative;
		height: 300px;
		background-image: url("images/bg.jpg");
		background-position: center;
		background-size: cover;


	}

	&-form {
		@include border-radius(3px);
		@include shadow-box(5px 10px 30px -4px rgba(0,0,0,0.4));  
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 15px;
		width: 80%;
		background-color: rgba(0,0,0,.4);

		&__title {
			color: darken(#fff, 10%);
			padding: 10px 0;
		}

		input[type="name"] {
			@include border-radius(3px);
			width: 100%;
			appearance: none;
			-webkit-appearance: none;
			border: none;
			font-family: 'Roboto Condensed', sans-serif;
			line-height: 20px;
			padding: 5px 10px;
			margin-top: 5px;

			&:focus {
				outline: none;
			}
		}

		input[type="email"] {
			@extend input[type="name"] 
		}

	}

	&-btn {
		@include border-radius(3px);
		@include transition(ease .5s);
		width: 100%;
		appearance: none;
		-webkit-appearance: none;
		border: none;
		font-family: 'Roboto Condensed', sans-serif;
		line-height: 20px;
		padding: 5px 10px;
		margin-top: 5px;
		background-color: lighten(#ff0, 15%);

		&:hover {
			cursor: pointer;
			background-color: #ff0;
		}

		&:focus {
			background-color: darken(#ff0, 10%);
			outline: none;
		}	
	}

}

@media (min-width: 768px) {
	.about {



		&-block__item {
			margin: 10px;
			width: calc(50% - 20px);
			float: left;
		}

		&-form {

			width: 60%;

			input[type="name"] {
				margin: 5px;
				width: calc(50% - 10px);
				float: left;
			}

			&__title {
				padding: 20px 0;
			}
		}

		&-btn {
			width: calc(100% - 10px);
			margin-left: 5px;
		}
	}
}

@media (min-width: 1200px) {
	.about {

		&-form {

			width: 40%;

			input[type="name"],
			.about-btn {
				margin: 2px;
				width: calc(33.3333% - 4px);
				float: left;
			}
		}

		&-block__item {
			width: calc(33.3333% - 20px);
		}
	}
}    

/* ==========================================================================
   S P E C S   .HTML
   ========================================================================== */
.specs {
	padding: 30px 0 0;

	&-title {
		padding: 0 0 30px;
	}

	&-block {
		&__item {
			width: 100%;
			height: 300px;
			position: relative;

			&:nth-child(1) {
				background-color: lighten(#ff0, 10%)
			}

			&:nth-child(2) {
				background-color: darken(#ff0, 10%)
			}	

			&:nth-child(3) {
				background-color: lighten(#ff0, 20%)
			}

			&:nth-child(4) {
				background-color: darken(#ff0, 20%)
			}	

			&:nth-child(5) {
				background-color: lighten(#ff0, 5%)
			}

			&:nth-child(6) {
				background-color: darken(#ff0, 5%)
			}	

			&:nth-child(7) {
				background-color: lighten(#ff0, 15%)
			}

			&:nth-child(8) {
				background-color: darken(#ff0, 15%)
			}	


			&-title {
				@include border-radius(3px);
				@include transition(ease .5s);
				position: absolute;
				bottom: 10%;
				right: 10%;
				color: darken(#fff, 10%);
				padding: 20px;
				background-color: rgba(0,0,0,.4);

					&:hover {
						cursor: pointer;
						color: darken(#fff, 60%);
						background-color: rgba(0,0,0,.2);
					}
			}
		}
	}
}

@media (min-width: 768px) {
	.specs-block__item {
		width: 50%;
		float: left;
	}
}

@media (min-width: 990px) {
	.specs-block__item {
		width: 33.33333%;
	}
}

@media (min-width: 1200px) {
	.specs-block__item {
		width: 25%;
	}
}

/* ==========================================================================
   W H Y     W E .HTML
   ========================================================================== */

.reasons {
	padding: 20px 0;

	&-title {
		padding: 20px 0;
	} 

	&-block {
		&__item{

			margin: 10px 0;
			background: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,1)), color-stop(20%, rgba(0,0,0,1)), to(rgba(0,0,0,0)));background: -webkit-linear-gradient(bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 100%);background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 100%);
 

			&-img {
				width: 100%;
				height: auto;
				display: block;
				position: relative;
				z-index: -1;
			}

			&-info {
				width: 100%;
				padding: 10px;
				background-color: #000;
				color: darken(#fff, 10%);
			}
		}
	}
}

.diagram {
	padding: 30px 0;

	&-title {
		padding: 0 0 30px;
	}

	#regions_div {
		width: 100%;
	}
}

@media (min-width: 768px) {
	.reasons-block__item {
		margin: 10px;
		width: calc(50% - 20px);
		float: left;
	}
}

@media (min-width: 1200px) {
	.reasons-block__item {
		width: calc(33.33333% - 20px);
	}
}



/* ==========================================================================
   G A L L E R Y .HTML
   ========================================================================== */

.gallery {
	padding: 20px 0;

	&-title {
		padding: 10px 0;
	}

	&-city__title {
		color: #fff;
		font-size: 16px;
	}

	&-link {
		@include transition(ease .5s);
		color: darken(#fff, 20%);
		border-bottom: 1px solid darken(#fff, 20%);

		&:hover {
			color: #fff;
			border-bottom: 1px solid #fff;
		} 
	}

	&-block__item {
		@include transition(ease .5s);
		position: relative;
		background-color: rgba(0,0,0,.1);

		&-img {
			width: 100%;
			height: auto;
			position: relative;
			z-index: -1;
			display: block;
		}

		&-info {
			display: none;
		}

		&:hover {
			background-color: rgba(0,0,0,.5);
			cursor: pointer;

			.gallery-block__item-info {
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				padding: 20px;
				background-color: rgba(0,0,0,.8);
				color: darken(#fff, 30%);
				text-transform: uppercase;
				font-size: 14px;
			}
		}
	}
}

@media (min-width: 768px) {

	.gallery-title {
		padding: 20px 0;
	}

	.gallery-block__item {
		width: 50%;
		float: left;
	}
}

@media (min-width: 1200px) {
	.gallery-block__item {
		width: 33.33333%;
	}
}

/* ==========================================================================
   C O N T A C T S .HTML
   ========================================================================== */

.contacts {
	padding: 20px 0;

	&-block__info {
		padding: 0 0 20px;
	}

	.map-container {
		width: 100%;
		height: 400px;

		#map {
			width: 100%;
			height: 400px;
		}
	}
}

@media (min-width: 768px) {
	
	.contacts {

		&-block__info {
			width: 30%;
			float: left;
		}

		.map-container {
			width: 70%;
			float: left;
		}

	}
}

/* ==========================================================================
   F O O T E R 
   ========================================================================== */

.footer {
	padding: 20px 0;
	background-color: lighten(#000, 20%);
	width: 100%;

	&-block {
		@include flexbox();
		justify-content: space-between;

		&__logo {

			.header-block__logo-link {
				color: #fff;
				font-size: 18px;

				.sub-logo {
					color: darken(#fff, 10%);
					font-size: 14px;
				}
			}
		} 
	}

	&-list__item {
		padding: 0 0 10px;

		&-link {
			@include transition(ease .5s);
			color: darken(#fff, 10%);
			font-size: 14px;

			&:hover {
				color: #fff;
			}
		}
	}

	&-terms {
		padding: 10px 0;

		&__list-item {
			display: inline-block;
			border-left: 1px solid darken(#fff, 20%);
			padding: 0 5px;
			line-height: 12px;

			&-link {
				@include transition(ease .5s);
				color: darken(#fff, 20%);
				font-size: 12px;

				&:hover {
					color: #fff;
				}
			} 
		}
	}	
}

@media (min-width: 768px) {
	.footer {
		&-block {
			align-items: center;

			&__section-list {
				@include flexbox();
			}
		}

		&-list__item {
			padding-left: 10px;
		}
	}
}